@import 'src/theme/variables';

.drawerTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.drawerTitle {
  margin: 0 10px 0 8px;
}

.body {
  padding: 12px;
  height: auto;
}

.icon {
  font-size: 20px;
  margin-top: -2px;
}

.avatar {
  background: $success-color-light;
  color: $success-color;
}

.drawerHeader {
  margin: 12px 0;
  display: flex;
}

.userData {
  padding-left: 12px;
}

.email {
  font-size: 12px;
  color: $secondary-text-color;
  margin-bottom: 16px;
  word-break: break-all;
}
